<div class="container">
  <%= erb :"/partials/_errors", layout:false %>
  <h2>Enter an Artist's Name</h2>
  <form action="/artists" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Search">
  </form>
</div>
