<div class="container">
  <h2><%=@song.title%></h2>
  <h4><%=@song.album%></h4>
  <p><%=@song.artist%></p>

  <div class="lyrics">
  <!-- fix -->
    <p><%=@song.lyrics%></p>
  </div>
</div>


<!-- http://lyrics.musixmatch.com/Gotye-lyrics_124402/Video-Mirrors-album_15723650 album -->